{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    Fauna Resume Builder
  </title>
  <link href="{% static './style.css' %}" rel="stylesheet" />
</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="javascript_header">
  </div>
  <form method="POST">
    {% csrf_token %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="color:red;">{{ message }}</li>
        {% endfor %}
    </ul>
    <div class="form__header">
      <h1>
        Build Your Resume
      </h1>
      <p>
        Enter the fields below to generate a resume file.
      </p>
    </div>
    <h2>
      Personal Details
    </h2>
    <div class="form-group">
      <label>Full Name<span>*</span></label>
      <input id="name" name="name" value="{{resume_info.full_name}}" type="text" />
      <div class="error" id="name__error">
      </div>
    </div>
    <div class="form-group">
      <label>Summary</label>
      <textarea id="summary" name="summary" value="{{resume_info.summary}}">{{resume_info.summary}}</textarea>
    </div>
    <div class="form-group">
      <label>Email<span>*</span></label>
      <input id="email" name="email" value="{{resume_info.email}}" type="email" />
      <div class="error" id="email__error">
      </div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input id="phone" name="phone" value="{{resume_info.phone}}" type="text" />
    </div>
    <div class="form-group">
      <label>Website</label>
      <input id="website" name="website" value="{{resume_info.website}}" type="text" />
    </div>
    <div class="form-group">
      <label>Address</label>
      <input id="address" name="address" value="{{resume_info.address}}" type="text" />
    </div>
    <div class="form-group">
      <label>Skills</label>
      <textarea id="skills" name="skills" value="{{resume_info.skills}}">{{resume_info.skills}}</textarea>
    </div>
    <h2>
      Education
    </h2>
    <h3>
      Bachelor's
    </h3>
    <div class="form-group">
      <label>College/University name</label>
      <input name="education_school" value="{{resume_info.education.1.school}}"
        type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Start Date
        </label>
        <input name="education_start" value="{{resume_info.education.1.start}}"
          type="text" />
      </div>
      <div class="form-group">
        <label> End Date
        </label>
        <input name="education_end" value="{{resume_info.education.1.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Details</label>
      <textarea name="education_details"
        value="{{resume_info.education.1.details}}">{{resume_info.education.1.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h3>
      Higher Secondary Education
    </h3>
    <div class="form-group">
      <label>High School name</label>
      <input name="education_school" value="{{resume_info.education.2.school}}"
        type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Start Date
        </label>
        <input name="education_start" value="{{resume_info.education.2.start}}"
          type="text" />
      </div>
      <div class="form-group">
        <label> End Date
        </label>
        <input name="education_end" value="{{resume_info.education.2.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Details</label>
      <textarea name="education_details"
        value="{{resume_info.education.2.details}}">{{resume_info.education.2.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h3>
      Secondary Eduction
    </h3>
    <div class="form-group">
      <label>School name</label>
      <input name="education_school" value="{{resume_info.education.3.school}}"
        type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Start Date
        </label>
        <input name="education_start" value="{{resume_info.education.3.start}}"
          type="text" />
      </div>
      <div class="form-group">
        <label> End Date
        </label>
        <input name="education_end" value="{{resume_info.education.3.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Details</label>
      <textarea name="education_details"
        value="{{resume_info.education.3.details}}">{{resume_info.education.3.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <div class="line-break">
    </div>
    <h2>
      Work Experience
    </h2>
    <h3>
      Most Recent Job
    </h3>
    <div class="form-group">
      <label>Employer Name</label>
      <input name="job_employer" value="{{resume_info.job.1.employer}}" type="text" />
    </div>
    <div class="form-group">
      <label>Position</label>
      <input name="job_position" value="{{resume_info.job.1.position}}" type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Start Date
        </label>
        <input name="job_start" value="{{resume_info.job.1.start}}" type="text" />
      </div>
      <div class="form-group">
        <label> End Date
        </label>
        <input name="job_end" value="{{resume_info.job.1.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Position Details</label>
      <textarea name="job_details" value="{{resume_info.job.1.details}}">{{resume_info.job.1.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h3>
      Past Job
    </h3>
    <div class="form-group">
      <label>Employer Name</label>
      <input name="job_employer" value="{{resume_info.job.2.employer}}" type="text" />
    </div>
    <div class="form-group">
      <label>Position</label>
      <input name="job_position" value="{{resume_info.job.2.position}}" type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Start Date
        </label>
        <input name="job_start" value="{{resume_info.job.2.start}}" type="text" />
      </div>
      <div class="form-group">
        <label> End Date
        </label>
        <input name="job_end" value="{{resume_info.job.2.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Position Details</label>
      <textarea name="job_details" value="{{resume_info.job.2.details}}">{{resume_info.job.2.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h3>
      Another Past Job
    </h3>
    <div class="form-group">
      <label>Employer Name</label>
      <input name="job_employer" value="{{resume_info.job.3.employer}}" type="text" />
    </div>
    <div class="form-group">
      <label>Position</label>
      <input name="job_position" value="{{resume_info.job.3.position}}" type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Start Date
        </label>
        <input name="job_start" value="{{resume_info.job.3.start}}" type="text" />
      </div>
      <div class="form-group">
        <label> End Date
        </label>
        <input name="job_end" value="{{resume_info.job.3.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Position Details</label>
      <textarea name="job_details" value="{{resume_info.job.3.details}}">{{resume_info.job.3.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h2>
      Projects
    </h2>
    <h3>
      Project 1
    </h3>
    <div class="form-group">
      <label>Name</label>
      <input name="project_name" value="{{resume_info.project.1.name}}" type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Date
        </label>
        <input name="project_end" value="{{resume_info.project.1.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Details</label>
      <textarea name="project_details" value="{{resume_info.project.1.details}}">{{resume_info.project.1.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h3>
      Project 2
    </h3>
    <div class="form-group">
      <label>Name</label>
      <input name="project_name" value="{{resume_info.project.2.name}}" type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Date
        </label>
        <input name="project_end" value="{{resume_info.project.2.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Details</label>
      <textarea name="project_details" value="{{resume_info.project.2.details}}">{{resume_info.project.2.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <h3>
      Project 3
    </h3>
    <div class="form-group">
      <label>Name</label>
      <input name="project_name" value="{{resume_info.project.3.name}}" type="text" />
    </div>
    <div class="form-date-group">
      <div class="form-group">
        <label> Date
        </label>
        <input name="project_end" value="{{resume_info.project.3.end}}" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label>Details</label>
      <textarea name="project_details" value="{{resume_info.project.3.details}}">{{resume_info.project.3.details}}</textarea>
    </div>
    <div class="line-break">
    </div>
    <div class="line-break">
    </div>
    <div class="form-group">
      <label>References</label>
      <textarea name="references" value="{{resume_info.references}}"></textarea>
    </div>
    <div class="line-break">
    </div>
    <input type="submit" value="Submit Info" />
    <br>
    <a class="button" href="resume"> View Resume</a>
    <a class="button" style="background-color:red;" href="index">Back to home</a>
  </form>
  <!-- partial -->
  <script src="{% static './script.js' %}">
  </script>
</body>

</html>