{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   Give My Resume
  </title>
  <link href="{% static './style.css' %}" rel="stylesheet"/>
  <style>
    input:invalid {
      border: red solid;
    }
  </style>
 </head>
 <body>
  <!-- partial:index.partial.html -->
  <div id="javascript_header">
  </div>
  <form method="POST">
    {% csrf_token %}
   <div class="form__header">
    <h1>
     Register/Sign Up
    </h1>
    <p>
     Enter your login details below.
    </p>
   </div>
   <div class="form-group">
    <label for="name">
     Username
     <span>
      *
     </span>
    </label>
    <input id="username" name="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$"
    title="only lowercase letters, numbers  and atleast 5 to maximum 15 characters are allowed"/>
    <div class="error" id="name__error">
    </div>
   </div>
   <div class="form-group">
    <label for="email">
     Email
     <span>
      *
     </span>
    </label>
    <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$" title="please enter a valid email address"/>
    <div class="error" id="name__error">
    </div>
   </div>
   <div class="form-group">
    <label for="password">
     Password
     <span>
      *
     </span>
    </label>
    <input id="password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
   </div>
   <div class="line-break">
   </div>
   <input id="register" type="submit" value="Register"/>
    Already have an account? <a href="login">Sign In</a>
  </form>
  <!-- partial -->
  <script src="{% static './script.js' %}">
  </script>
 </body>
</html>
